nav {
  width: 100%;
  height: 80px;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3%;
  z-index: 1;
}

nav {
  position: fixed;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);

  .logo {
    font-size: 30px;
  }

  a {
    color: #2d2e32;
    text-decoration: none;
  }

  li {
    color: #2d2e32;
    list-style: none;
    font-weight: 600;
  }

  .desktop-view {
    ul {
      display: flex;
      font-size: 17px;

      li:not(:last-of-type) {
        margin: 0 20px 0 0;
      }
    }

    @media (max-width: 900px) {
      display: none;
    }
  }

  .mobile-view {
    position: absolute;
    background: #ffffff;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-100%);
    transition: 500ms ease-in-out;

    ul {
      font-size: 40px;
    }

    li {
      margin: 30px 0;
    }

    .x {
      width: 50px;
      height: 50px;
      position: absolute;
      top: 45px;
      right: 27px;
      cursor: pointer;
    }

    .line {
      width: 100%;
      height: 4px;
      background-color: black;
      position: absolute;
      top: 0;
      left: 0;
      transform: translateY(-50%);
    }

    .line1 {
      transform: rotate(45deg);
    }

    .line2 {
      transform: rotate(-45deg);
    }
  }

  .mobile-view.show {
    transform: translateX(0%);
  }

  .hamburger-menu {
    display: none;
    cursor: pointer;


    @media (max-width: 900px) {
      display: block;
    }
  }

  .bar {
    width: 30px;
    height: 3px;
    background-color: #2d2e32;
    margin: 5px 0;
    transition: 0.4s;
  }
}


