#projects {
  background: #040615;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;

  .project-content {
    max-width: 990px;
    width: 100%;
    padding: 150px 30px;
    display: flex;
    flex-direction: column;

    @media (max-width: 900px) {
      align-items: center;

      p {
        text-align: center;
      }
    }

    h1 {
      color: #147efb;
      font-size: 17px;
      line-height: 26px;
      text-transform: uppercase;
      font-weight: 700;
      margin-bottom: 12px;
    }

    p {
      font-weight: 700;
      line-height: 38px;
      font-size: 25px;
      margin-bottom: 62px;
      color: #ffffff;
    }

    .project-grid {
      display: flex;
      flex-direction: column;
      gap: 86px;
    }
  }
}
