@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Montserrat";
  src: url("./assets/font/Montserrat-VariableFont_wght.ttf");
}

@layer components {
  .debug {
    border: 1px solid red;
  }
}
