@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Grotesk";
  src: url("./assets/font/SpaceGrotesk-VariableFont_wght.ttf");
}

::-webkit-scrollbar {
    display: none;
}

.home-height {
  height: calc(100dvh - 86px);
}

.showNav {
    transform: translateX(0);
}
.hideNav {
    transform: translateX(100%);
}

@layer components {
  .debug {
    border: 1px solid red;
  }
  .shutter {
    background-image: url("./assets/shutter.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: difference;
  }
  .ellipse {
    width: 100%;
    max-width: 650px;
    max-height: 650px;
    height: 100%;
    border-radius: 50%;
  }
  .textStroke {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 3px;
  }
  @media (max-width: 1024px) {
    .ellipse {
      max-width: 450px;
      max-height: 450px;
    }
  }
  @media (max-width: 768px) {
    .ellipse {
      max-width: 400px;
      max-height: 400px;
    }
  }
  @media (max-width: 640px) {
    .ellipse {
      max-width: 270px;
      max-height: 270px;
    }
  }
  @media (max-width: 640px) {
    .textStroke {
      -webkit-text-stroke: 2px;
    }
  }
}
