@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Grotesk";
  src: url("./assets/font/SpaceGrotesk-VariableFont_wght.ttf");
}

::-webkit-scrollbar {
    display: none;
}

.home-height {
  height: calc(100dvh - 103px);
}

.section-max-width {
    max-width: 1440px;
    width: 100%;
    margin: auto;
}

.welcome-header {
    font-size: 12.5rem;
    line-height: 11.5rem;
}
@media (max-width: 1507px) {
    .welcome-header {
        font-size: 12rem;
        line-height: 11rem;
    }
}
@media (max-width: 1449px) {
    .welcome-header {
        font-size: 11.5rem;
        line-height: 10.5rem;
    }
}
@media (max-width: 1361px) {
    .welcome-header {
        font-size: 11rem;
        line-height: 10rem;
    }
}
@media (max-width: 1303px) {
    .welcome-header {
        font-size: 10.5rem;
        line-height: normal;
    }
}
@media (max-width: 1245px) {
    .welcome-header {
        font-size: 10rem;
        line-height: normal;
    }
}
@media (max-width: 1187px) {
    .welcome-header {
        font-size: 9.5rem;
        line-height: normal;
    }
}
@media (max-width: 1130px) {
    .welcome-header {
        font-size: 9rem;
        line-height: normal;
    }
}
@media (max-width: 1073px) {
    .welcome-header {
        font-size: 8.5rem;
        line-height: normal;
    }
}
@media (max-width: 1015px) {
    .welcome-header {
        font-size: 8rem;
        line-height: normal;
    }
}
@media (max-width: 958px) {
    .welcome-header {
        font-size: 7.5rem;
        line-height: normal;
    }
}
@media (max-width: 900px) {
    .welcome-header {
        font-size: 7rem;
        line-height: normal;
    }
}
@media (max-width: 843px) {
    .welcome-header {
        font-size: 6.5rem;
        line-height: normal;
    }
}
@media (max-width: 786px) {
    .welcome-header {
        font-size: 6rem;
        line-height: normal;
    }
}
@media (max-width: 728px) {
    .welcome-header {
        font-size: 5.5rem;
        line-height: normal;
    }
}
@media (max-width: 671px) {
    .welcome-header {
        font-size: 5rem;
        line-height: normal;
    }
}
@media (max-width: 613px) {
    .welcome-header {
        font-size: 4.5rem;
        line-height: normal;
    }
}
@media (max-width: 556px) {
    .welcome-header {
        font-size: 4rem;
        line-height: normal;
    }
}
@media (max-width: 499px) {
    .welcome-header {
        font-size: 3.5rem;
        line-height: normal;
    }
}
@media (max-width: 384px) {
    .welcome-header {
        font-size: 2.5rem;
        line-height: normal;
    }
}

/* Nav Slider Start*/
.nav-slide {
    width: fit-content;
    overflow: hidden;
    display: inline-block;
    position: relative;
}

.nav-slide::before {
    content: '';
    width: 100%;
    border-bottom: 2px solid;
    position: absolute;
    bottom: 0;
    transform: translateX(-100%);
    transition: 500ms ease-in-out;
}

.nav-slide:hover::before {
    transform: translateX(100%);
}
/* Nav Slider end*/

/* button animation start*/
.button-animation {
    border: 1px solid #404040;
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    position: relative;
    display: inline-block;
    overflow: hidden;
    transition: 250ms ease-in-out;
}
.button-animation::after {
    content: "";
    width: 100%;
    bottom: 0;
    left: 0;
    position: absolute;
    height: 100%;
    display: inline-flex;
    background: #404040;
    border-radius: 50%;
    transition: 250ms ease-in-out;
    transform: translateY(100%);
    z-index: 0 !important;
    color: #d4d4d4;
    justify-content: center;
    align-items: center;
}
.button-animation:hover {
    color: #d4d4d4;
}
.button-animation:hover::after {
    transform: translateY(0);
    border-radius: 0;
    content: attr(data-text);
}
/* button animation end */

@layer components {
  .debug {
    border: 1px solid red;
  }
  .shutter {
    background-image: url("./assets/shutter.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: difference;
  }
  .ellipse {
    width: 100%;
    max-width: 650px;
    max-height: 650px;
    height: 100%;
    border-radius: 50%;
  }
  .textStroke {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 3px;
  }
  @media (max-width: 1024px) {
    .ellipse {
      max-width: 450px;
      max-height: 450px;
    }
  }
  @media (max-width: 768px) {
    .ellipse {
      max-width: 400px;
      max-height: 400px;
    }
  }
  @media (max-width: 640px) {
    .ellipse {
      max-width: 270px;
      max-height: 270px;
    }
  }
  @media (max-width: 640px) {
    .textStroke {
      -webkit-text-stroke: 2px;
    }
  }
}
